<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "matricula" class="entidades.Matricula">
        <property name = "num" value="1234"/>
        <property name = "letras" value ="FFF"/>
    </bean>

    <bean id = "vehiculo" class="entidades.Vehiculo">
        <property name="marca" value="Honda"/>
        <property name="modelo" value="Cibic"/>
        <property name = "Matricula" ref ="matricula"/>
    </bean>
</beans>